# --- Základní Data Science & Utility ---
numpy
pandas
scikit-learn
tqdm
matplotlib
seaborn

# --- Zpracování Videa a Obrázků ---
opencv-python-headless
torch
torchvision
pytorchvideo

# --- Zpracování Jazyka (NLP) ---
spacy==3.6.1
scispacy==0.5.3

# --- LLM, Vnoření & XAI ---
openai
sentence-transformers
transformers
captum

# --- Nástroje pro lokální vývoj ---
python-dotenv